layout {
    // タブ
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }

    // メインコンテンツ
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane command="btm"
            pane command="nu"
        }
        pane command="nu"
   }

    // キーバインドの説明
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
